# Dependencies
node_modules/

# Environment
.env

# Logs
logs/
*.log

# Database
database/*.db
database/*.sqlite
database/*.sqlite3

# Upload files
uploads/

# Test coverage
coverage/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db 